<form class="form" action="index.html" method="post">
  <input type="text" class="form-title" name="" placeholder="Title">
  <textarea name="textarea" class="form-body"
   rows="10" cols="50">Write something here</textarea>
  <!-- <textarea type="text" class="form-body" name="" value="{{ body }}"> -->
  <input type="submit" class="form-button btn" value="Submit">
</form>
