<form class="form" action="index.html" method="post">
  <input type="text" class="form-title" name="" value="{{ title }}">
  <input type="text" class="form-body" name="" value="{{ body }}">
  <input type="submit" class="form-button btn" value="Submit">
</form>
